<h1> This is a page for specific teams</h1>
<br>
<h3>Team Name: <%= @team.name %> </h3>

<br>

<h3> Member List: </h3>
<br>

<% @members.each do |member| %>
    <b>
        <%= member.username %> <br>
        <%= member.email %> <br>
    </b>
<% end %>

<% if current_user.team_id == @team.id%>
    <h3>Message List: </h3> <br>
    <% @messages.each do |message| %>
        <b>
            <%= message.body%> <br>
            <%= message.status %> <br>
            <%= message.user_id%> <br>
            <%= message.created_at %> <br>
        </b>
    <% end %>
    <%= link_to 'Send a new message', new_message_path, class:"btn btn-secondary"%>



    <h3>Practice List:</h3>

    <%= @practices.each do |practice| %>
        <b>
            <%= practice.date %><br>
            <%= practice.location %> <br>
        </b>
    <% end %>

<%end%>
