<style>
    body {
      background-image: url('https://img.freepik.com/free-vector/pastel-abstract-nebula_91008-229.jpg?w=2000');
    }
</style>

<h1> This is a page for specific teams</h1>
<br>
<h3>Team Name: <%= @team.name %> </h3>

<br>

<h3> Member List: </h3>
<br>

<% @members.each do |member| %>
    <hr>
    <b>
        <%= member.username %> <br>
        <%= member.email %> <br>
    </b>
    <hr>
<% end %>

<% if current_user.team_id == @team.id%>
    <h3>Message List: </h3> <br>
    <% @messages.each do |message| %>
        <b>
            <%= message.body%> <br>
            <%= message.status %> <br>
            <%= message.user_id%> <br>
            <%= message.created_at %> <br>
        </b>
    <% end %>
    <%= link_to 'Send a new message', new_message_path, class:"btn btn-secondary"%>



    <h3>Practice List:</h3>

    <%= @practices.each do |practice| %>
        <b>
            <%= practice.date %><br>
            <%= practice.location %> <br>
        </b>
    <% end %>

<%end%>

<% if current_user.team_id != @team.id %>

    Request to join this team <%= @team.name %>

    <%= form_with(model: @join_req) do |form| %>
    <% if @join_req.errors.any? %>
        <div id="error_explanation">
        <h2><%= pluralize(@join_req.errors.count, "error") %> prohibited this join req from being saved:</h2>

        <ul>
            <% @join_req.errors.each do |error| %>
            <li><%= error.full_message %></li>
            <% end %>
        </ul>
        </div>
    <% end %>

    <br>

    <div class="field form-group" >
        <%# <%= form.text_field :body, class:"form-control", placeholder:"Join request Body"%>
        <%= form.hidden_field :user_id, value: current_user.id%>
        <%= form.hidden_field :req_name, value: current_user.email%>
        <%= form.hidden_field :status, value: "Pending"%>
        <%= form.hidden_field :req_role, value: "Player"%>
        <%= form.hidden_field :team_id, value: @team.id%>
        <%= form.hidden_field :status, value: "Sent"%>
    </div>


    <br>

        <div>
            <%= form.submit "Request to join", class:"btn btn-primary" %>
        </div>


    <% end %>
<%end%>

<% if current_user.role == "System Admin" || current_user.role == "Team Admin"%>
    <%@join_reqs.each do |ind|%>
        <%if ind.status == "Pending"%>
            <%= ind.req_name%> would like to join your team
            <br>
            <%= form_with scope: :patch, url: :join_accept do |form| %>
                <%= form.hidden_field :user_id, value: ind.user_id %>
                <%= form.hidden_field :team_id, value: @team.id%>
                <%= form.hidden_field :id, value: ind.id%>
                <%= form.hidden_field :status, value: "Accept"%>
                <input name="_method" type="hidden" value="put" />
                <%= form.submit "Accept" %>
            <%end%>
            <br>
            <%= form_with scope: :patch, url: :join_accept do |form| %>
                <%= form.hidden_field :user_id, value: ind.user_id %>
                <%= form.hidden_field :team_id, value: @team.id%>
                <%= form.hidden_field :id, value: ind.id%>
                <%= form.hidden_field :status, value: "Reject"%>
                <input name="_method" type="hidden" value="put" />
                <%= form.submit "Reject" %>
            <%end%>
        <%end%>
    <%end%>
<%end%>

