<h1> Profile page for users</h1>


<br>
<p> user id : <%= current_user.id%></p>

<br>
<p> role: <%= current_user.role%> </p>
<br>
<p> username: <%= current_user.username%></p>
<br>
<p> email: <%= current_user.email%></p>

<br>

<%= link_to "home page", "/", class: "btn btn-sucess" %>


<%= form_with scope: :patch, url: :change_role do |form| %>
    <%= form.text_field :role %>
    <input name="_method" type="hidden" value="put" />
    <%= form.submit "Change Role" %>
<%end%>