<style>
    body {
      background-image: url('https://img.freepik.com/free-vector/pastel-abstract-nebula_91008-229.jpg?w=2000');
    }
</style>

<h1>User Profile</h1>

<br>
<p> User ID: <%= current_user.id%></p>
<p> Role: <%= current_user.role%> </p>
<p> Username: <%= current_user.username%></p>
<p> Email: <%= current_user.email%></p>

<br>

<%= link_to "home page", "/", class: "btn btn-sucess" %>
<br>
<%= link_to "team page", @team, class: "btn btn-sucess" %>
<br>

<%= form_with scope: :patch, url: :change_role do |form| %>
    <%= form.text_field :role %>
    <input name="_method" type="hidden" value="put" />
    <%= form.submit "Change Role" %>
<%end%>