<style>
    body {
      background-image: url('https://img.freepik.com/free-vector/pastel-abstract-nebula_91008-229.jpg?w=2000');
    }
</style>

<p> create new game here</p>


<%= form_with(model: @game) do |form| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this attend from being saved:</h2>

      <ul>
        <% @game.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <br>

  <div class="field form-group" >
    <%= form.text_field :location, class: "form-control", placeholder: "location of game" %>

    <br>
    Home Team: <%= select_tag "winner_id", options_for_select(@teamOptions) %>
    <br>
    Away Team: <%= select_tag "loser_id", options_for_select(@teamOptions) %>

    <br>
    Home Team score: <%= form.number_field :winner_score, class: "form-control" %>
    <br>
    Away Team score: <%= form.number_field :loser_score, class: "form-control" %>
    <br>
    date of game: <%= form.datetime_field :date, class: "form-control"%>

  </div>


  <br>

    <div>
        <%= form.submit "Create Game", class:"btn btn-primary" %>
    </div>
   

<% end %>