<br>
<%= link_to "back to team page", @team%>
<br>
<h1> Full Details</h1>

<% if @attended == false%>
    Did you attend this game?  <%= button_to "Attend Game", "../game_attends/new", params: { user_id: current_user.id, game_id: @game.id} %>
<%end%>

<% if @attended == true%>
    It looks like you attended this game!
<%end%>


<p>Home Team: <%= link_to @homeTeam.name, @homeTeam%> </p>
<p>Away Team: <%= link_to @awayTeam.name, @awayTeam%> </p>

<p> Score: <%=@game.winner_score %> : <%= @game.loser_score %></p>

<h3> Home team Attendees</h3>

<% @homeTeamMembers.each do |teamMember| %>
    <p>Name: <%= teamMember.username%>, Email: <%= teamMember.email%></p>
<%end%>
<h3> Away team attendees: </h3>

<% @awayTeamMembers.each do |aTeamMember| %>
    <p>Name: <%=aTeamMember.username%>, Email: <%= aTeamMember.email%></p>
<%end%>




<%= link_to "all games", games_path %>